:root>* {
    
    --md-primary-fg-color: #e41b13;
    --md-primary-fg-color--light: #9574cd;
    --md-primary-fg-color--dark: #e41b13;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0,0%,100%,.7);
    --md-mermaid-label-bg-color: #f2f2f2;
}
.md-header {
    height: 80px;
    background-color: #e41b13;
}


.md-header__ellipsis {
    height: 80px;
    font-size: 1.2rem;
    padding-top: auto;
}

/* Logo reszing a bit complex since it's specified per tpe of image and browser to work at mobiles as well as desktops */
.md-header__button.md-logo :-webkit-any(img, svg) {
    height: 48px;    
}

.md-header__button.md-logo :-moz-any(img, svg) {
    height: 48px;    
}

.md-header__button.md-logo :is(img, svg) {
    height: 48px;    
}